td {
	border-style: solid;
	border-width: 1px;
	border-color: lightgray;
	padding: 2px;
}

.roundBorder {

	border-style: solid;
	border-width: 1px;
	border-color: lightgray;
	-moz-border-radius:10px; /* Firefox */
	-webkit-border-radius:10px; /* Safari, Chrome */
	-khtml-border-radius:10px; /* Konqueror */
	border-radius:10px; /* CSS3 */
}